snippet epitech
/*
** EPITECH PROJECT, `date +%Y`
** ${1:PROJECT_NAME}
** File description:
** ${2:Description here}
*/
endsnippet

snippet once
#ifndef ${1:`!p snip.rv = "__" + snip.fn.upper().replace('.','_')`}
#define $1
$0
#endif //$1
endsnippet
